<div class="card">
  <div class=" card-body ">
    <h5 class="card-title ">Period:&nbsp;
      <a href="# " class="card-link ">XX/XX/XXXX</a>
      <a>&nbsp;-&nbsp;</a>
      <a href="# " class="card-link ">ZZ/ZZ/ZZZZ</a></h5>
    <h6 class="card-subtitle ">
      <ul class="list-inline ">
        <li class="list-inline-item "><a href="#" class="badge badge-secondary "><i class="fas fa-times ">&nbsp;|&nbsp;</i>IRIDIUM-99</a></li>
      </ul>
    </h6>

    <!-- map -->
    <div id="map">

    </div>
  </div>
</div>