<div class="card">
  <div class=" card-body ">
    <h5 class="card-title ">Period:&nbsp;
      <a href="# " class="card-link ">XX/XX/XXXX</a>
      <a>&nbsp;-&nbsp;</a>
      <a href="# " class="card-link ">ZZ/ZZ/ZZZZ</a></h5>
    <h6 class="card-subtitle ">
      <ul class="list-inline ">
        <li class="list-inline-item "><span class="badge badge-secondary "><i class="fa fa-times ">&nbsp;|&nbsp;</i>IRIDIUM-99</span></li>
      </ul>
    </h6>
    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>