<div class="card mt-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <ul class="list-inline ">
        <li class="list-inline-item" *ngFor="let item of selectedTle()">
          <a href="#" class="badge badge-secondary" [style.background]="item.color"><i class="fas fa-times" (click)="toggleMapData(item)">&nbsp;</i>{{item.name}}</a>
        </li>
        <li class="list-inline-item">&nbsp;</li>
      </ul>
    </li>
    <li id="map" class="list-group-item"></li>
  </ul>
</div>